#index_container{
  font-family: arial;
  width: 60%;
  height: auto;
  margin: 0px auto;
  padding: 10px;
  background-color: powderblue;


}


#container{

  width: 50%;
  height: 60%;
  margin: 0px auto;
  padding: 10px;
  background-color: powderblue;
  border: 1px solid black;

}

#calc_src{

  float: left;
  width: 55%;
  height: auto;
  margin-bottom: 10px;
  background-color: powderblue;
  

}

#calc_info{

  float: right;
  width: 35%;
  height: auto;
  vertical-align: middle;
  margin-bottom: auto;
  background-color: #BEBEBE;
  border: 1px solid black;

}



#results{
  top: 50%;
  overflow: auto;
  width: 55%;
  height: auto;
  border: 1px solid black;
}

table{align:center; font-family: tahoma; font-size: 13px;}
